h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.stylized {
    font-family: 'Dancing Script', cursive;
}

p > a {
    color: #5b6678;
}

#academic {
    font-weight: bold;
}

#courses {
    font-size: 2em;
}